<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Fasoc - Search results</title>

  
  <link rel="stylesheet" href="fresh-bootstrap-table.css">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
  <link type="text/css" href="demo.css" rel="stylesheet" />


  <!--   Fonts and icons   -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

</head>
<body>
    <h1>
        <a href="https://fasoc.engin.umich.edu/">
          <img src="/images/icon.png" alt="FASOC" width="100%" height="100"/>
        </a>
      </h1>
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <a href="./" class="btn btn-secondary">Integrated Circuits</a>
          <a href="/capacitors" class="btn btn-secondary">Capacitors</a>
          <a href="/search-get" class=" btn btn-primary">Advanced Search</a>
        </form>
      </nav> 
    <br>
    <br>
  <div class="fresh-table toolbar-color-orange full-screen-table">
  <!--
    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
    Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
  -->

    <table id="fresh-table" class="table" data-show-export="true">
    <thead>
        <tr>
          <th data-field="description" data-sortable="true">Description</th>
          <th data-field="part number" data-sortable="true">Digi-Key Part Number</th>
          <th data-field="datasheets" data-sortable="true">Datasheets</th>
          <th data-field="subcategory" data-sortable="true">Subcategory</th>
          <!-- <th class="th-sm">Number of Bits -->
          <th data-field="min temp" data-sortable="true"> min Operating Temp (째C)</th>
          <!-- <th class="th-sm">Sampling Rate -->
          <th data-field="max temp" data-sortable="true"> max Operating Temp (째C)</th>
          <th data-field="min voltage" data-sortable="true"> min Voltage - Supply (V)</th>
          <th data-field="max voltage" data-sortable="true"> max Voltage - Supply (V)</th>
          <th data-field="current" data-sortable="true"> current - Input Bias (mA)</th>
        </tr>
      </thead>
      <tbody>            
          <% if (search_result != null) {%>              
              <% for(var i=0; i <search_result.length; i++) {%>
                <tr>
                  <td><%= search_result[i]['Description'] %></td>
                  <td><%= search_result[i]['Digi-Key Part Number'] %></td>
                  <td><a href="<%=search_result[i]['Datasheets']%>" role="button"><%= search_result[i]['Datasheets'] %></a></td> 
                  <td><%= search_result[i]['Subcategory'] %></td>
                  <td><%= search_result[i]['min Operating Temp (째C)'] %></td>
                  <td><%= search_result[i]['max Operating Temp (째C)'] %></td>
                  <td><%= search_result[i]['min Voltage - Supply (V)'] %></td>
                  <td><%= search_result[i]['max Voltage - Supply (V)'] %></td>
                  <td><%= search_result[i]['Current - Input Bias (mA)'] %></td>
                </tr>
              <% } %>
            <% } %>
      </tbody>
    </table>
  </div>
</div>

<script src="main.js"></script>
<script>
  var $table = $('#fresh-table')

  window.operateEvents = {
    'click .like': function (e, value, row, index) {
      alert('You click like icon, row: ' + JSON.stringify(row))
      console.log(value, row, index)
    },
    'click .edit': function (e, value, row, index) {
      alert('You click edit icon, row: ' + JSON.stringify(row))
      console.log(value, row, index)
    },
    'click .remove': function (e, value, row, index) {
      $table.bootstrapTable('remove', {
        field: 'id',
        values: [row.id]
      })
    }
  }
  

  function operateFormatter(value, row, index) {
    return [
      '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
        '<i class="fa fa-heart"></i>',
      '</a>',
      '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
        '<i class="fa fa-edit"></i>',
      '</a>',
      '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
        '<i class="fa fa-remove"></i>',
      '</a>'
    ].join('')
  }

// initalize boostrap tooltip
  $(function () {
      $("[data-toggle='tooltip']").tooltip();
  });

  $(function () {
    $table.bootstrapTable({
      classes: 'table table-hover table-striped',
      toolbar: '.toolbar',

      search: true,
      showRefresh: false,
      showToggle: true,
      showColumns: true,
      showExport: true,
      pagination: true,
      striped: true,
      sortable: true,
      height: $(window).height(),
      pageSize: 50,
      pageList: [50, 100, 200],

      formatShowingRows: function (pageFrom, pageTo, totalRows) {
        return ''
      },
      formatLoadingMessage: function() {
        return '';
      },
      formatRecordsPerPage: function (pageNumber) {
        return pageNumber + ' rows visible'
      }
    })

    $(window).resize(function () {
      $table.bootstrapTable('resetView', {
        height: $(window).height()
      })
    })
  })
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

  ga('create', 'UA-46172202-1', 'auto')
  ga('send', 'pageview')

</script>

</body>

</html>
